
.secondcontainer{
  background-color: rgb(60, 60, 60);
  height: 100vh;
  display: -ms-flexbox;
  position: fixed;
  left: 0px;
  display: table-cell;
  padding: 20px;
  box-shadow: 6px 0 8px 0 rgba(0, 0, 0, 0.4);

}

.mapview {
position: absolute;
right: -40px!important;
bottom: 0px;
top: 0px;
width: 85%!important;
height: 100%;
display: inherit;
overflow: hidden!important;
z-index: -1;
}

.search{
  width: 94%;
  height: 40px;
  margin-top: 30px;
  font-size: 20px;
  margin-left: -5px;
  box-shadow: 0 10px 34px 10px rgba(0,0,0,.1);
  border-radius: 5px;

}

.input-title{
    width: 300px;
     color: rgb(128, 202, 172);
     text-align: center;
     margin-left: -10px;
     font-size: 20px;
     margin-top: 95px;

}
