

.container {
  background-color:mediumaquamarine;
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}

.list-a-tag, .list-a-tag:visited, .list-a-tag:active {
  text-decoration: none;
  color: black;
}

.list-a-tag:hover {
  color: rgb(190, 0, 125);
}
