* {
  margin: 0;
  padding: 0;
}
.homecontainer{
  background-color: rgb(60, 60, 60);
  padding-bottom: 50px;
}

.header-content{
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  justify-content: center;
  font-size: 45px;
  color: rgb(128, 202, 172);
  text-shadow: 0px 0px 20px black;
}

.title-content{
      margin-top: -365px;
}

.banner{
  position: relative;
  width: 604px;
  top: -39px;
  z-index: -1;
  opacity: 0.8;
}

.top-content{
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 97%;
  background-color: rgb(60, 60, 60);
  padding: 30px 20px 20px 20px;
  color: rgb(128, 202, 172);
}

.text-mid-content{
  margin-top: 10px;
  line-height: 1.75;
  padding-left:15px ;
  padding-right:15px ;
}

.image-contain{
  margin-top: 35px;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pic-content{
  width: 450px;
  background-color: rgb(68, 45, 34);
  /* background-color: rgb(60, 60, 60); */
  box-shadow: 0 6px 33px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  border-radius: 5px;
}

.pic-content:hover, .pic-content:focus{
  outline: none;
  transform: scale(1.04);
}

.sub-pic-contnent-header{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 23px;
  color: rgb(128, 202, 172);
}

.sub-pic-contnent{
  font-size: 16px!important;
  line-height: 1.55;
  color: rgb(128, 202, 172);
  padding: 0px 20px 20px 20px;
}

.tree-pic1{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 450px;
  height: 450px;
}
.tree-pic2{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  width: 350px;
  height: 450px;
  background-color: whitesmoke;
}
.tree-pic3{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 450px;
  height: 450px;
}

.homeview-bottom-content-header{
  margin-top: 35px;
  margin-bottom: 35px;
  color: rgb(128, 202, 172);
}

.example1-container{
  display: flex;
  width: 100%;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 65px;
  background-color: rgb(68, 45, 34);
  padding: 25px 0px 25px 0px;
}

.example1-second-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  line-height: 2.5;
  color: rgb(128, 202, 172);
}

.example-pic1{
  height: 600px;
  width: 510px;
  box-shadow: 0 6px 33px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}



.example2-container{
  display: flex;
  width: 100%;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 65px;
  padding: 25px 0px 25px 0px;
}

.example2-second-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  line-height: 2.5;
  color: rgb(128, 202, 172);
}

.example-pic2{
  height: 600px;
  width: 510px;
  box-shadow: 0 6px 33px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}


.example3-container{
  display: flex;
  width: 100%;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 65px;
  background-color: rgb(68, 45, 34);
  padding: 25px 0px 25px 0px;
}

.example3-second-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  line-height: 2.5;
  color: rgb(128, 202, 172);
}

.example-pic3{
  height: 600px;
  width: 510px;
  box-shadow: 0 6px 33px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
