.fourth-main-container{
  display: flex;
  flex-direction: row;
}

.fourthcontainer{
  display: flex;
  background-color: rgb(60,60,60);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.fourth-left-container{
  height: 100vh;
  width: 25%;
  background-color: rgb(68, 45, 34);
  color: rgb(128, 202, 172);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}


.fourthview-content-top{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(60,60,60);
}

.fourth-input-container{
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.fourthview-input1{
  height: 30px;
  width: 45%;
  font-size: 20px;
  border-radius: 5px;
}

.fourthview-input2{
  height: 30px;
  width: 45%;
  font-size: 20px;
  border-radius: 5px;
}

.fourthtitle{
  color: rgb(128, 202, 172);
  margin-top: 35px;
}

.fourthview-content-bottom{
  font-size: 20px;
  color: rgb(60,60,60);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(300, 300, 300, 0.9);
}
