.fourth-main-container{
  display: flex;
  flex-direction: row;
}

.fourthcontainer{
  display: flex;
  background-color: rgb(60,60,60);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.fourth-left-container{
  height: 100vh;
  width: 20%;
  background-color: rgb(60,60,60);
  color: rgb(128, 202, 172);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.fourth-right-container{
  height: 100vh;
  width: 20%;
  background-color: rgb(128, 202, 172);
  border-top: solid 1px rgba(60,60,60,0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.fourthview-content-top{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: rgb(60,60,60);
}


.fourthtitle{
  color: rgb(128, 202, 172);
}

.fourthview-content-bot{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: rgb(128, 202, 172);
}
